@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181625;
  --foreground: #E2E0EC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* Prevent body scroll */
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #232034; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3E3B5E; 
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5B5680; 
}
